<div class="titulo">
  <h2>Lista de Produtos</h2>
</div>

<dx-data-grid
  id="gridContainer"
  noDataText="Ainda não há produtos cadastrados."
  [dataSource]="produtos"
  [showBorders]="true"
  [showColumnLines]="true"
  (onRowInserted)="criarProduto($event)"
  (onRowUpdated)="atualizarProduto($event)"
  (onRowRemoved)="removerProduto($event)">

  <dxo-editing
    mode="row"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
  </dxo-editing>

  <dxi-column dataField="codigo" caption="Código" alignment="center">
    <dxi-validation-rule
      type="required"
      message="O preenchimento deste campo é obrigatório!">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="descricao" caption="Descrição" alignment="center">
    <dxi-validation-rule
      type="required"
      message="O preenchimento deste campo é obrigatório!">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="valorUnitario" caption="Valor Unitário" [format]="{type: 'currency', currency: 'BRL', precision: 2}" alignment="center">
    <dxi-validation-rule
      type="required"
      message="O preenchimento deste campo é obrigatório!">
    </dxi-validation-rule>
  </dxi-column>

</dx-data-grid>

