<div class="titulo">
  <h2>Lista de Clientes</h2>
</div>

<dx-data-grid
  id="gridContainer"
  noDataText="Ainda não há clientes cadastrados."
  [dataSource]="clientes"
  [showBorders]="true"
  [showColumnLines]="true"
  (onRowInserted)="criarCliente($event)"
  (onRowUpdated)="atualizarCliente($event)"
  (onRowRemoved)="removerCliente($event)">

  <dxo-editing
    mode="row"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true">
  </dxo-editing>

  <dxi-column dataField="cpf" caption="CPF (Código)" alignment="center">
    <dxi-validation-rule
      type="required"
      message="O preenchimento deste campo é obrigatório!" alignment="center">
    </dxi-validation-rule>
  </dxi-column>

  <dxi-column dataField="nome" caption="Nome Completo" alignment="center">
    <dxi-validation-rule
      type="required"
      message="O preenchimento deste campo é obrigatório!">
    </dxi-validation-rule>
  </dxi-column>

</dx-data-grid>
