<div class="titulo">
  <h2>Controle de Notas Fiscais</h2>
</div>

<div class="content-block">
  <div class="dx-card responsive-paddings">
  <p>Esta aplicação foi desenvolvida utilizando as seguintes tecnologias:</p>
    <strong>Front-End:</strong>
    <ul>
      <li>
        <a href="https://cli.angular.io/" target="_blank" rel="noopener noreferrer">Angular CLI</a> - versão 15.1.5
      </li>
      <li>
        <a href="https://js.devexpress.com/Documentation/Guide/Common/DevExtreme_CLI/" target="_blank" rel="noopener noreferrer">DevExtreme</a> -
    versão 22.2.4
      </li>
    </ul>

    <strong>Back-End:</strong>
    <ul>
      <li>
        <a href="https://docs.oracle.com/javase/8/docs/api/" target="_blank" rel="noopener noreferrer">Java</a> - versão 1.8
      </li>
      <li>
        <a href="https://spring.io/" target="_blank" rel="noopener noreferrer">Spring</a> - versão 2.7.8
      </li>
      <li>
        <a href="https://maven.apache.org/guides/" target="_blank" rel="noopener noreferrer">Maven</a> - versão 3.0.1
      </li>
    </ul>

    <strong>Banco de Dados:</strong>
    <ul>
      <li>
        <a href="https://www.postgresql.org/" target="_blank" rel="noopener noreferrer">PostgreSQL</a> - versão 14.6
      </li>
    </ul>

    <p>Utilize o menu à esquerda para navegação dentro do projeto. </p>
  </div>
</div>
